include README.md
include LICENSE.txt
include CONFIG.json

include docs/*
include static/*
include static/vendors/*
include static/vendors/vuetify/*
include static/vendors/avue/*
include static/vendors/material/*
include static/vendors/material/css/*
include static/vendors/material/fonts/*
include static/apps/*
include static/core/*
include views/*